// Setup
@import "setup/variables";
@import "setup/functions";
@import "setup/mixins";
@import "setup/typography";

// Basics
@import "basics/helpers";
@import "basics/layout";

// pages
@import "cmp/Header.scss";
@import "cmp/Footer.scss";

// cmp
@import "cmp/UrlMetadataFetcher.scss";
@import "cmp/MetadataCard.scss";
@import "cmp/ErrorList.scss";
@import "cmp/UserMsg";

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}

.app-footer {
  margin-top: auto;
}
